<!DOCTYPE html>
<html>

	<head>
		<title>Log in</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<body style="padding:50px">

		<form action="/login" method="POST" enctype="multipart/form-data">
			<input type="text" id="Upime" name="Upime" />
			<input type="text" id="Geslo" name="Geslo" />
			<button type="submit">Submit</button>
		</form>
		<%= msg %>



	</body>
</html>